<ion-content class="ion-padding">
  <ion-text color="primary">
    <h1>Donation!</h1>

    <p>
      Thank you for your decision to give and partner with us in the work of Ministry. <br />
      God honours and multiplies your seed. He will bring back to you a Bountiful Harvest of pleasant suprises. <br />
      You are a Kingdom Promoter. 
      <br /><br />
      You are Lifted!
      <br /><br />
  <strong>MAKE A BANK TRANSFER</strong> <br /> <br />
  
  <strong>Account Details:</strong>
  <br />
      The Father’s Dwelling Church<br />
      Zenith Bank<br />
      1014434368
  </p>
  <ion-button (click)="copyAccountNumber(1014434368)" fill="outline">
    <ion-icon name="copy-outline" slot="start"></ion-icon>
    Copy Acct Number
  </ion-button>
  </ion-text>
  
</ion-content>
