<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>App Info</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="close()" slot="icon-only">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <ion-img src="../assets/icon.png"></ion-img>
    <h2>...bringing many sons and daughter unto glory.</h2>
    
    <ion-item lines="none">
      <ion-label>Version</ion-label>
      <h3>0.0.1</h3>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Support</ion-label>
      <h3>dbassey360@gmail.com | 08170493109</h3>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Policy</ion-label>
      <h3>thefathersdwellingchurch.org</h3>
    </ion-item>
    

  </div>
</ion-content>
