<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Contact Us</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="close()" slot="icon-only">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  
</ion-header>

<ion-content class="ion-padding">
  <ion-textarea placeholder="Leave us a message..." rows="8" mode="md"></ion-textarea>
  <br />
  <ion-label>Add Screenshot (optional)</ion-label>
  <br /> <br />

  <div class="img-container">

    <div class="img-content">
      <ion-icon name="add-circle-outline" class="add-icon" size="large"></ion-icon>
      <ion-img src="../assets/splash.png"></ion-img>
    </div>

    <div class="img-content">
      <ion-icon name="add-circle-outline" class="add-icon" size="large"></ion-icon>
      <!-- <ion-img src=""></ion-img> -->
    </div>

    <div class="img-content">
      <ion-icon name="add-circle-outline" class="add-icon" size="large"></ion-icon>
      <!-- <ion-img src=""></ion-img> -->
    </div>

  </div>

  <ion-button (click)="sendMessage()" expand="block" class="submit">
    SEND
  </ion-button>

</ion-content>
